/* Photo by Juan from Pexels https://www.pexels.com/photo/photography-of-night-sky-733475/ */
@import url('https://fonts.googleapis.com/css?family=Vollkorn:400,400i');
html, body {
  margin: 0;
  padding: 0;
}

body {
 background: url("../img/cosmio.jpeg");
 background-repeat: no-repeat;
 background-position: center center;
 background-attachment: fixed;
 background-size: cover;
 min-height: 100%;
 min-width: 100%;
 position: absolute;
 top: 0;
 left: 0;
 -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 display: block;
 font-size: 18px;
 font-family: 'Vollkorn', Times, serif;
 letter-spacing: 2px;
}

.container {
  position: absolute;
  left: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  color: #fff;
  margin: 0 auto;
  text-align: center;
}

.row {
  position: absolute;
  min-width: 100%;
}

.row:first-child {
  top: 32%;  
}

.row:nth-child(2) {
  top: 40%;
}

.action-btn {
  margin: 0 auto;
  width: 40px;
  height: 40px;
  transition: all 0.2s ease;
  cursor: pointer;
}

.action-btn:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.action-btn:active {
  -webkit-transform: scale(0.9);
  -ms-transform: scale(0.9);
  transform: scale(0.9);
}

#quill {
  background: url("../img/quill.png");
  background-repeat: no-repeat;
  background-size: contain;
}

#birdie {
  background: url("../img/birdiee.png");
  background-repeat: no-repeat;
  background-size: contain;
}

#quote {
    padding: 8px 2px;
    font-size: 1.8em;
 }
 
 #author {
    margin-bottom: 2.8em;
    padding-bottom: 10px;
    font-size: 1.2em;
    font-weight: 100;
    font-style: italic;
 } 