/* Photo by Juan from Pexels https://www.pexels.com/photo/photography-of-night-sky-733475/ */
html, body {
  margin: 0;
  padding: 0;
}

body {
 background: url("../img/cosmio.jpeg");
 background-repeat: no-repeat;
 background-position: center center;
 background-attachment: fixed;
 background-size: cover;
 min-height: 100%;
 min-width: 100%;
 position: absolute;
 top: 0;
 left: 0;
 -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 display: block;
 font-size: 1.4em;
 letter-spacing: 2px;
}

.container {
  position: absolute;
  display: flex;
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  left: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  color: #fff;
  margin: 0 auto;
  text-align: center;
}

.row:first-child {
  min-width: 100%;
  margin-bottom: 2em;
}

.row:last-child {
  margin-top: 3.2em; 
}

.action-btn {
  margin: 0 auto;
  width: 40px;
  height: 40px;
  transition: all 0.2s ease;
  cursor: pointer;
}

.action-btn:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.action-btn:active {
  -webkit-transform: scale(0.9);
  -ms-transform: scale(0.9);
  transform: scale(0.9);
}

#quill {
  background: url("../img/quill.png");
  background-repeat: no-repeat;
  background-size: contain;
}

#birdie {
  background: url("../img/birdiee.png");
  background-repeat: no-repeat;
  background-size: contain;
}

#quote {
    font-size: 1.3em;
    padding: 8px 0;
 }
 
 #author {
    display: hide;
    font-size: 1.1em;
    font-style: italic;
    padding-bottom: 10px;
 } 